.aside {
  padding-top: 40px;
}
.link {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  transition: all ease .3s;
}
.link:hover {
  color: #ffffff66;
}
.wrapper {
  margin-bottom: 24px;
}


@media (max-width:768px) {
  .aside {
    padding-top: 0;
  }
  .wrapper {
    display: none;
  }
}